In [1]:
import pandas as pd
train = pd.read_csv('./data/train_20171215.txt',sep='\t')
new_df = train.drop(['day_of_week', 'brand'],axis=1).groupby('date').sum()
new_df['date'] = new_df.index
new_df = pd.merge(new_df, train[['date','day_of_week']].drop_duplicates(), how='left', on='date')
print new_df.shape
new_df.to_csv('./data/train_group.txt', sep='\t')
new_df.head(5)

(1032, 3)

    cnt  date  day_of_week
0    68     1            3
1    36     2            4
2  5565     3            5
3  4966     4            6
4  3346     5            7

In [2]:
# 通过 day_of_week 发现日期数据并不连续
# 为了做时序预测，填充缺失数据，暂时填充为0后续再一起处理
def fill_missing(df):
    modi_df = pd.DataFrame(columns=['date', 'day_of_week', 'cnt'], dtype=int)
    last_day_of_week = 0
    for index, row in df.iterrows():
        now_day_of_week = row['day_of_week']
        # 若 day_of_week 当前天减上一天不是1 或 -6，说明有跳跃
        while (last_day_of_week != 0) and (now_day_of_week - last_day_of_week != 1) and (now_day_of_week - last_day_of_week != -6):
            if last_day_of_week == 7:
                last_day_of_week = 1
            else:
                last_day_of_week += 1
            modi_df = modi_df.append({'day_of_week': last_day_of_week, 'cnt': 0}, ignore_index=True)
        modi_df = modi_df.append(row, ignore_index=True)
        last_day_of_week = now_day_of_week
    return modi_df

In [3]:
modi_df = fill_missing(new_df)
print modi_df.shape
# 改变 cnt 列的值属性为数值型
modi_df.cnt = pd.to_numeric(modi_df.cnt)
# print modi_df.dtypes
modi_df.head(15)

(1192, 3)

   date day_of_week   cnt
0     1           3    68
1     2           4    36
2     3           5  5565
3     4           6  4966
4     5           7  3346
5     6           1  3396
6     7           2  4146
7     8           3  3096
8     9           4  2713
9    10           5  2409
10   11           6   275
11  NaN           7     0
12   12           1  2735
13   13           2  2386
14   14           3  1901

In [4]:
# import warnings 
# warnings.filterwarnings("ignore")
for i in range(1, 8):
    # 对每个 day_of_week 依次填充
    day_of_week_mean = int(new_df[new_df.day_of_week == i]['cnt'].mean())
    modi_df.loc[modi_df.day_of_week == i, 'cnt']= modi_df[modi_df.day_of_week == i].cnt.mask(modi_df.cnt == 0, day_of_week_mean)
print modi_df.head(15)

   date day_of_week   cnt
0     1           3    68
1     2           4    36
2     3           5  5565
3     4           6  4966
4     5           7  3346
5     6           1  3396
6     7           2  4146
7     8           3  3096
8     9           4  2713
9    10           5  2409
10   11           6   275
11  NaN           7   742
12   12           1  2735
13   13           2  2386
14   14           3  1901

In [5]:
modi_df['ds'] = pd.date_range(start = '1/2/2013', periods=1192)
# modi_df[(modi_df['ds'] >= '10/1/2014') & (modi_df['ds'] <= '10/7/2014')]
modi_df.tail()

      date day_of_week   cnt         ds
1187   NaN           7   742 2016-04-03
1188   NaN           1  2364 2016-04-04
1189  1030           2  4003 2016-04-05
1190  1031           3  2513 2016-04-06
1191  1032           4  1306 2016-04-07

In [6]:
import numpy as np

prophet_train = modi_df.loc[:,['ds', 'cnt']]
prophet_train.rename(columns = {'cnt':'y'}, inplace = True)
# prophet_train.y = np.log1p(prophet_train.y)
prophet_train.head()

          ds     y
0 2013-01-02    68
1 2013-01-03    36
2 2013-01-04  5565
3 2013-01-05  4966
4 2013-01-06  3346

## 构造模型

In [8]:
from fbprophet import Prophet
import pickle as pkl
with open('./data/holidays.pkl', 'rb') as rf:
    holidays = pkl.load(rf)
m = Prophet(holidays = holidays)

In [9]:
def evaluate_model(forecast,test):
    '''
    计算模型mse
    '''
    assert (test.ds == forecast.ds).all()
    mse = sum((test.y-forecast.yhat)**2)
    mse = float(mse)/len(test)
    return mse

In [10]:
#测试
train_d = prophet_train[:1000]
test_d = prophet_train[1000:]

In [12]:
test_d.ds

1000   2015-09-29
1001   2015-09-30
1002   2015-10-01
1003   2015-10-02
1004   2015-10-03
1005   2015-10-04
1006   2015-10-05
1007   2015-10-06
1008   2015-10-07
1009   2015-10-08
1010   2015-10-09
1011   2015-10-10
1012   2015-10-11
1013   2015-10-12
1014   2015-10-13
1015   2015-10-14
1016   2015-10-15
1017   2015-10-16
1018   2015-10-17
1019   2015-10-18
1020   2015-10-19
1021   2015-10-20
1022   2015-10-21
1023   2015-10-22
1024   2015-10-23
1025   2015-10-24
1026   2015-10-25
1027   2015-10-26
1028   2015-10-27
1029   2015-10-28
          ...
1162   2016-03-09
1163   2016-03-10
1164   2016-03-11
1165   2016-03-12
1166   2016-03-13
1167   2016-03-14
1168   2016-03-15
1169   2016-03-16
1170   2016-03-17
1171   2016-03-18
1172   2016-03-19
1173   2016-03-20
1174   2016-03-21
1175   2016-03-22
1176   2016-03-23
1177   2016-03-24
1178   2016-03-25
1179   2016-03-26
1180   2016-03-27
1181   2016-03-28
1182   2016-03-29
1183   2016-03-30
1184   2016-03-31
1185   2016-04-01
1186   2016-04-02
1187   2016-04-03
1188   2016-04-04
1189   2016-04-05
1190   2016-04-06
1191   2016-04-07
Name: ds, Length: 192, dtype: datetime64[ns]

In [13]:
future = pd.DataFrame({'ds':pd.date_range(start='9/29/2015',periods=192)})

In [15]:
train_d

            ds     y
0   2013-01-02    68
1   2013-01-03    36
2   2013-01-04  5565
3   2013-01-05  4966
4   2013-01-06  3346
5   2013-01-07  3396
6   2013-01-08  4146
7   2013-01-09  3096
8   2013-01-10  2713
9   2013-01-11  2409
10  2013-01-12   275
11  2013-01-13   742
12  2013-01-14  2735
13  2013-01-15  2386
14  2013-01-16  1901
15  2013-01-17  6072
16  2013-01-18  2716
17  2013-01-19   216
18  2013-01-20    22
19  2013-01-21  3903
20  2013-01-22  2700
21  2013-01-23  2700
22  2013-01-24  2073
23  2013-01-25  1702
24  2013-01-26   231
25  2013-01-27   742
26  2013-01-28  3377
27  2013-01-29  3016
28  2013-01-30  2586
29  2013-01-31  1652
..         ...   ...
970 2015-08-30    20
971 2015-08-31  2616
972 2015-09-01  2477
973 2015-09-02  2305
974 2015-09-03    12
975 2015-09-04  1889
976 2015-09-05   412
977 2015-09-06  3354
978 2015-09-07  1800
979 2015-09-08  2684
980 2015-09-09  1475
981 2015-09-10  1783
982 2015-09-11  1625
983 2015-09-12   309
984 2015-09-13   742
985 2015-09-14  1990
986 2015-09-15  2256
987 2015-09-16  2032
988 2015-09-17  1183
989 2015-09-18  1565
990 2015-09-19   254
991 2015-09-20   742
992 2015-09-21  1983
993 2015-09-22  2445
994 2015-09-23  2312
995 2015-09-24  1510
996 2015-09-25  2380
997 2015-09-26    61
998 2015-09-27   742
999 2015-09-28  3279

[1000 rows x 2 columns]

In [16]:
m.fit(train_d)

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

In [17]:
forecast = m.predict(future)

In [18]:
forecast[['ds', 'yhat', 'yhat_lower', 'yhat_upper']].tail()

            ds         yhat   yhat_lower   yhat_upper
187 2016-04-03   786.510863   -28.669805  1592.100111
188 2016-04-04  2305.071746  1472.980086  3146.963876
189 2016-04-05  2363.369594  1493.837197  3145.133499
190 2016-04-06  2031.439913  1202.776220  2851.963455
191 2016-04-07  1594.705132   714.987555  2427.609661

In [21]:
forecast

,ds,trend,trend_lower,trend_upper,yhat_lower,yhat_upper,holiday_2013,holiday_2013_lower,holiday_2013_upper,holiday_2014,...,seasonalities,seasonalities_lower,seasonalities_upper,weekly,weekly_lower,weekly_upper,yearly,yearly_lower,yearly_upper,yhat
0,2015-09-29,1798.124102,1798.124102,1798.124102,1844.185242,3512.215426,0.0,0.0,0.0,0.0,...,908.732902,908.732902,908.732902,734.291585,734.291585,734.291585,174.441317,174.441317,174.441317,2706.857004
1,2015-09-30,1798.497334,1798.497334,1798.497334,1580.210494,3232.211470,0.0,0.0,0.0,0.0,...,592.763533,592.763533,592.763533,414.526423,414.526423,414.526423,178.237110,178.237110,178.237110,2391.260866
2,2015-10-01,1798.870566,1798.870566,1798.870566,-494.968641,1132.744945,0.0,0.0,0.0,0.0,...,169.517063,169.517063,169.517063,-12.050168,-12.050168,-12.050168,181.567231,181.567231,181.567231,306.599502
3,2015-10-02,1799.243797,1799.243797,1799.243797,979.477170,2491.562318,0.0,0.0,0.0,0.0,...,402.040233,402.040233,402.040233,217.513143,217.513143,217.513143,184.527090,184.527090,184.527090,1766.798328
4,2015-10-03,1799.617029,1799.617029,1799.617029,-373.891252,1186.433435,0.0,0.0,0.0,0.0,...,-958.427726,-958.427726,-958.427726,-1145.608252,-1145.608252,-1145.608252,187.180526,187.180526,187.180526,406.703601
5,2015-10-04,1799.990261,1799.990261,1799.990261,-145.853167,1479.667701,0.0,0.0,0.0,0.0,...,-681.416067,-681.416067,-681.416067,-870.971525,-870.971525,-870.971525,189.555458,189.555458,189.555458,684.088492
6,2015-10-05,1800.363493,1800.363493,1800.363493,1501.562190,3046.593518,0.0,0.0,0.0,0.0,...,853.939775,853.939775,853.939775,662.298794,662.298794,662.298794,191.640981,191.640981,191.640981,2219.817565
7,2015-10-06,1800.736724,1800.736724,1800.736724,1470.445589,3113.649062,0.0,0.0,0.0,0.0,...,927.677626,927.677626,927.677626,734.291585,734.291585,734.291585,193.386041,193.386041,193.386041,2293.928648
8,2015-10-07,1801.109956,1801.109956,1801.109956,1228.986042,2847.290585,0.0,0.0,0.0,0.0,...,609.226214,609.226214,609.226214,414.526423,414.526423,414.526423,194.699792,194.699792,194.699792,1975.850468
9,2015-10-08,1801.483188,1801.483188,1801.483328,2341.664393,4021.948966,0.0,0.0,0.0,0.0,...,183.403476,183.403476,183.403476,-12.050168,-12.050168,-12.050168,195.453644,195.453644,195.453644,3212.189088
10,2015-10-09,1801.856420,1801.856292,1801.858747,1392.084249,2968.246959,0.0,0.0,0.0,0.0,...,412.998138,412.998138,412.998138,217.513143,217.513143,217.513143,195.484995,195.484995,195.484995,2214.854558
11,2015-10-10,1802.229651,1802.228591,1802.233077,17.487098,1592.171262,0.0,0.0,0.0,0.0,...,-951.005711,-951.005711,-951.005711,-1145.608252,-1145.608252,-1145.608252,194.602541,194.602541,194.602541,851.223940
12,2015-10-11,1802.602883,1802.599941,1802.609114,275.217555,1958.650799,0.0,0.0,0.0,0.0,...,-678.378482,-678.378482,-678.378482,-870.971525,-870.971525,-870.971525,192.593043,192.593043,192.593043,1124.224401
13,2015-10-12,1802.976115,1802.971163,1802.984812,1818.511606,3473.327342,0.0,0.0,0.0,0.0,...,851.528135,851.528135,851.528135,662.298794,662.298794,662.298794,189.229340,189.229340,189.229340,2654.504249
14,2015-10-13,1803.349347,1803.341102,1803.360392,1891.634530,3586.522551,0.0,0.0,0.0,0.0,...,918.570961,918.570961,918.570961,734.291585,734.291585,734.291585,184.279377,184.279377,184.279377,2721.920308
15,2015-10-14,1803.722578,1803.710728,1803.735262,1600.164320,3169.033087,0.0,0.0,0.0,0.0,...,592.042375,592.042375,592.042375,414.526423,414.526423,414.526423,177.515952,177.515952,177.515952,2395.764953
16,2015-10-15,1804.095810,1804.079710,1804.111784,1201.988475,2744.489957,0.0,0.0,0.0,0.0,...,156.676721,156.676721,156.676721,-12.050168,-12.050168,-12.050168,168.726889,168.726889,168.726889,1960.772531
17,2015-10-16,1804.469042,1804.450252,1804.487158,1355.517944,3051.732069,0.0,0.0,0.0,0.0,...,375.238414,375.238414,375.238414,217.513143,217.513143,217.513143,157.725270,157.725270,157.725270,2179.707455
18,2015-10-17,1804.842273,1804.816618,1804.864906,-7.097097,1631.635806,0.0,0.0,0.0,0.0,...,-1001.248855,-1001.248855,-1001.248855,-1145.608252,-1145.608252,-1145.608252,144.359397,144.359397,144.359397,803.593418
19,2015-10-18,1805.215505,1805.184338,1805.241705,240.887367,1830.279845,0.0,0.0,0.0,0.0,...,-742.449407,-742.449407,-742.449407,-870.971525,-870.971525,-870.971525,128.522118,128.522118,128.522118,1062.766098
20,2015-10-19,1805.588737,1805.552975,1805.618709,1780.718999,3359.472200,0.0,0.0,0.0,0.0,...,772.457978,772.457978,772.457978,662.298794,662.298794,662.298794,110.159184,110.159184,110.159184,2578.046715
21,2015-10-20,1805.961969,1805.921612,1805.995465,1842.084891,3481.089625,0.0,0.0,0.0,0.0,...,823.567885,823.567885,823.567885,734.291585,734.291585,734.291585,89.276300,89.276300,89.276300,2629.529854
22,2015-10-21,1806.335200,1806.288955,1806.371910,1441.974543,3075.643464,0.0,0.0,0.0,0.0,...,480.471018,480.471018,480.471018,414.526423,414.526423,414.526423,65.944596,65.944596,65.944596,2286.806219
23,2015-10-22,1806.708432,1806.656900,1806.750308,1026.700290,2620.563700,0.0,0.0,0.0,0.0,...,28.254082,28.254082,28.254082,-12.050168,-12.050168,-12.050168,40.304249,40.304249,40.304249,1834.962514
24,2015-10-23,1807.081664,1807.025506,1807.127435,1152.551405,2904.654851,0.0,0.0,0.0,0.0,...,230.079224,230.079224,230.079224,217.513143,217.513143,217.513143,12.566080,12.566080,12.566080,2037.160888
25,2015-10-24,1807.454896,1807.394704,1807.507165,-136.646053,1412.308761,0.0,0.0,0.0,0.0,...,-1162.597295,-1162.597295,-1162.597295,-1145.608252,-1145.608252,-1145.608252,-16.989043,-16.989043,-16.989043,644.857601
26,2015-10-25,1807.828127,1807.763734,1807.884612,127.578124,1724.142798,0.0,0.0,0.0,0.0,...,-918.984570,-918.984570,-918.984570,-870.971525,-870.971525,-870.971525,-48.013045,-48.013045,-48.013045,888.843557
27,2015-10-26,1808.201359,1808.132095,1808.263835,1600.315407,3257.864893,0.0,0.0,0.0,0.0,...,582.203040,582.203040,582.203040,662.298794,662.298794,662.298794,-80.095754,-80.095754,-80.095754,2390.404400
28,2015-10-27,1808.574591,1808.500400,1808.644816,1588.470321,3269.282762,0.0,0.0,0.0,0.0,...,621.519375,621.519375,621.519375,734.291585,734.291585,734.291585,-112.772210,-112.772210,-112.772210,2430.093966
29,2015-10-28,1808.947823,1808.870662,1809.024550,1210.549375,2863.842781,0.0,0.0,0.0,0.0,...,268.994374,268.994374,268.994374,414.526423,414.526423,414.526423,-145.532049,-145.532049,-145.532049,2077.942196
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162,2016-03-09,1858.587645,1856.940445,1859.953245,1238.538291,2822.233826,0.0,0.0,0.0,0.0,...,188.904929,188.904929,188.904929,414.526423,414.526423,414.526423,-225.621493,-225.621493,-225.621493,2047.492575
163,2016-03-10,1858.960877,1857.294613,1860.345053,786.589892,2391.870429,0.0,0.0,0.0,0.0,...,-244.118437,-244.118437,-244.118437,-12.050168,-12.050168,-12.050168,-232.068269,-232.068269,-232.068269,1614.842440
164,2016-03-11,1859.334109,1857.653528,1860.742313,989.511941,2647.742253,0.0,0.0,0.0,0.0,...,-16.405358,-16.405358,-16.405358,217.513143,217.513143,217.513143,-233.918501,-233.918501,-233.918501,1842.928751
165,2016-03-12,1859.707341,1858.006761,1861.127833,-300.068898,1314.908095,0.0,0.0,0.0,0.0,...,-1377.265011,-1377.265011,-1377.265011,-1145.608252,-1145.608252,-1145.608252,-231.656759,-231.656759,-231.656759,482.442329
166,2016-03-13,1860.080572,1858.359832,1861.511405,-54.772970,1619.593896,0.0,0.0,0.0,0.0,...,-1096.819802,-1096.819802,-1096.819802,-870.971525,-870.971525,-870.971525,-225.848276,-225.848276,-225.848276,763.260771
167,2016-03-14,1860.453804,1858.715625,1861.892970,1440.580376,3128.125681,0.0,0.0,0.0,0.0,...,445.177614,445.177614,445.177614,662.298794,662.298794,662.298794,-217.121180,-217.121180,-217.121180,2305.631418
168,2016-03-15,1860.827036,1859.075443,1862.282377,1545.143470,3252.441015,0.0,0.0,0.0,0.0,...,528.144219,528.144219,528.144219,734.291585,734.291585,734.291585,-206.147366,-206.147366,-206.147366,2388.971255
169,2016-03-16,1861.200268,1859.438698,1862.669554,1246.877815,2880.801185,0.0,0.0,0.0,0.0,...,220.903850,220.903850,220.903850,414.526423,414.526423,414.526423,-193.622573,-193.622573,-193.622573,2082.104118
170,2016-03-17,1861.573499,1859.806042,1863.057496,824.758919,2523.919971,0.0,0.0,0.0,0.0,...,-192.296398,-192.296398,-192.296398,-12.050168,-12.050168,-12.050168,-180.246230,-180.246230,-180.246230,1669.277101
171,2016-03-18,1861.946731,1860.166879,1863.445322,1114.611757,2697.768301,0.0,0.0,0.0,0.0,...,50.811497,50.811497,50.811497,217.513143,217.513143,217.513143,-166.701647,-166.701647,-166.701647,1912.758228
172,2016-03-19,1862.319963,1860.527716,1863.833097,-234.258841,1321.559453,0.0,0.0,0.0,0.0,...,-1299.245330,-1299.245330,-1299.245330,-1145.608252,-1145.608252,-1145.608252,-153.637078,-153.637078,-153.637078,563.074633
173,2016-03-20,1862.693195,1860.889558,1864.216468,12.956081,1698.645862,0.0,0.0,0.0,0.0,...,-1012.619731,-1012.619731,-1012.619731,-870.971525,-870.971525,-870.971525,-141.648206,-141.648206,-141.648206,850.073464
174,2016-03-21,1863.066426,1861.251571,1864.604653,1572.039231,3234.332814,0.0,0.0,0.0,0.0,...,531.036313,531.036313,531.036313,662.298794,662.298794,662.298794,-131.262481,-131.262481,-131.262481,2394.102739
175,2016-03-22,1863.439658,1861.613584,1864.995521,1641.023082,3297.669019,0.0,0.0,0.0,0.0,...,611.365836,611.365836,611.365836,734.291585,734.291585,734.291585,-122.925749,-122.925749,-122.925749,2474.805494
176,2016-03-23,1863.812890,1861.975597,1865.386373,1302.739184,3053.929530,0.0,0.0,0.0,0.0,...,297.534938,297.534938,297.534938,414.526423,414.526423,414.526423,-116.991485,-116.991485,-116.991485,2161.347827
177,2016-03-24,1864.186122,1862.337610,1865.772589,895.114274,2559.375546,0.0,0.0,0.0,0.0,...,-125.763075,-125.763075,-125.763075,-12.050168,-12.050168,-12.050168,-113.712907,-113.712907,-113.712907,1738.423047
178,2016-03-25,1864.559353,1862.698699,1866.164051,1133.896506,2806.325295,0.0,0.0,0.0,0.0,...,104.275013,104.275013,104.275013,217.513143,217.513143,217.513143,-113.238130,-113.238130,-113.238130,1968.834366
179,2016-03-26,1864.932585,1863.058831,1866.552508,-194.387440,1416.903262,0.0,0.0,0.0,0.0,...,-1261.216705,-1261.216705,-1261.216705,-1145.608252,-1145.608252,-1145.608252,-115.608453,-115.608453,-115.608453,603.715880
180,2016-03-27,1865.305817,1863.419208,1866.943808,110.210391,1671.153208,0.0,0.0,0.0,0.0,...,-991.731293,-991.731293,-991.731293,-870.971525,-870.971525,-870.971525,-120.759768,-120.759768,-120.759768,873.574524
181,2016-03-28,1865.679049,1863.782560,1867.335787,1539.259046,3237.518780,0.0,0.0,0.0,0.0,...,533.771802,533.771802,533.771802,662.298794,662.298794,662.298794,-128.526992,-128.526992,-128.526992,2399.450851
182,2016-03-29,1866.052280,1864.140611,1867.729774,1678.983601,3254.725591,0.0,0.0,0.0,0.0,...,595.640226,595.640226,595.640226,734.291585,734.291585,734.291585,-138.651359,-138.651359,-138.651359,2461.692506
183,2016-03-30,1866.425512,1864.491277,1868.121783,1321.145213,2971.616444,0.0,0.0,0.0,0.0,...,263.736127,263.736127,263.736127,414.526423,414.526423,414.526423,-150.790296,-150.790296,-150.790296,2130.161639
184,2016-03-31,1866.798744,1864.854251,1868.514621,957.812966,2521.800152,0.0,0.0,0.0,0.0,...,-176.579729,-176.579729,-176.579729,-12.050168,-12.050168,-12.050168,-164.529562,-164.529562,-164.529562,1690.219014
185,2016-04-01,1867.171976,1865.222803,1868.904915,1060.488617,2716.382076,0.0,0.0,0.0,0.0,...,38.115870,38.115870,38.115870,217.513143,217.513143,217.513143,-179.397273,-179.397273,-179.397273,1905.287846
186,2016-04-02,1867.545207,1865.585339,1869.295804,-344.517769,1331.849504,0.0,0.0,0.0,0.0,...,-1340.487620,-1340.487620,-1340.487620,-1145.608252,-1145.608252,-1145.608252,-194.879368,-194.879368,-194.879368,527.057587
187,2016-04-03,1867.918439,1865.944118,1869.687273,-28.669805,1592.100111,0.0,0.0,0.0,0.0,...,-1081.407576,-1081.407576,-1081.407576,-870.971525,-870.971525,-870.971525,-210.436051,-210.436051,-210.436051,786.510863
188,2016-04-04,1868.291671,1866.307245,1870.078742,1472.980086,3146.963876,0.0,0.0,0.0,0.0,...,436.780075,436.780075,436.780075,662.298794,662.298794,662.298794,-225.518719,-225.518719,-225.518719,2305.071746
189,2016-04-05,1868.664903,1866.667230,1870.470212,1493.837197,3145.133499,0.0,0.0,0.0,0.0,...,494.704691,494.704691,494.704691,734.291585,734.291585,734.291585,-239.586893,-239.586893,-239.586893,2363.369594
190,2016-04-06,1869.038134,1867.031774,1870.858648,1202.776220,2851.963455,0.0,0.0,0.0,0.0,...,162.401779,162.401779,162.401779,414.526423,414.526423,414.526423,-252.124644,-252.124644,-252.124644,2031.439913
191,2016-04-07,1869.411366,1867.395120,1871.253150,714.987555,2427.609661,0.0,0.0,0.0,0.0,...,-274.706234,-274.706234,-274.706234,-12.050168,-12.050168,-12.050168,-262.656066,-262.656066,-262.656066,1594.705132

In [26]:
test_d.reset_index(drop=True,inplace=True)

In [27]:
test_d

            ds     y
0   2015-09-29  3804
1   2015-09-30  3046
2   2015-10-01  1625
3   2015-10-02    13
4   2015-10-03   412
5   2015-10-04    15
6   2015-10-05  2364
7   2015-10-06  2495
8   2015-10-07    88
9   2015-10-08  4354
10  2015-10-09  3418
11  2015-10-10  2489
12  2015-10-11   742
13  2015-10-12  2584
14  2015-10-13  3546
15  2015-10-14  2458
16  2015-10-15  2065
17  2015-10-16  1816
18  2015-10-17   263
19  2015-10-18    28
20  2015-10-19  2407
21  2015-10-20  3639
22  2015-10-21  2551
23  2015-10-22  1925
24  2015-10-23  1989
25  2015-10-24   181
26  2015-10-25   742
27  2015-10-26  2569
28  2015-10-27  2019
29  2015-10-28  1900
..         ...   ...
162 2016-03-09  2392
163 2016-03-10  1870
164 2016-03-11  1772
165 2016-03-12   610
166 2016-03-13   742
167 2016-03-14  2437
168 2016-03-15  2326
169 2016-03-16  1954
170 2016-03-17  1569
171 2016-03-18  1777
172 2016-03-19   442
173 2016-03-20   742
174 2016-03-21  2476
175 2016-03-22  1934
176 2016-03-23  2048
177 2016-03-24  1586
178 2016-03-25  2268
179 2016-03-26   506
180 2016-03-27   742
181 2016-03-28  3439
182 2016-03-29  3208
183 2016-03-30  2277
184 2016-03-31  2144
185 2016-04-01  2519
186 2016-04-02   195
187 2016-04-03   742
188 2016-04-04  2364
189 2016-04-05  4003
190 2016-04-06  2513
191 2016-04-07  1306

[192 rows x 2 columns]

# 测试评估模型

In [30]:
evaluate_model(forecast,test_d)

734674.8004211477

# 根据brand区分数据，依次进行预测、合并预测结果、评估模型

In [33]:
df = pd.read_csv('./data/train_20171215.txt',sep='\t')
df_group = df.groupby('brand')
for num,d in df_group:
    print d

      date  day_of_week  brand   cnt
0        1            3      1    20
2        2            4      1    16
4        3            5      1  1411
9        4            6      1  1176
14       5            7      1   812
19       6            1      1   889
24       7            2      1   893
29       8            3      1   569
34       9            4      1   623
39      10            5      1   470
44      11            6      1    87
48      12            1      1   575
53      13            2      1   544
58      14            3      1   305
63      15            4      1   735
68      16            5      1   627
73      17            6      1    65
78      19            1      1   819
83      20            2      1   610
88      21            3      1   447
93      22            4      1   447
98      23            5      1   192
103     24            6      1    22
108     25            1      1   767
113     26            2      1   697
118     27            3      1   508
123     28            4      1   224
128     29            5      1   523
133     30            6      1    44
138     32            1      1   802
...    ...          ...    ...   ...
4625  1003            4      1   331
4630  1004            5      1   494
4635  1005            6      1    95
4639  1006            1      1   551
4644  1007            2      1   737
4649  1008            3      1   510
4654  1009            4      1   627
4659  1010            5      1   399
4664  1011            6      1   214
4669  1012            1      1   798
4674  1013            2      1   689
4679  1014            3      1   665
4684  1015            4      1   366
4689  1016            5      1   494
4694  1017            6      1   143
4699  1018            1      1   798
4704  1019            2      1   760
4709  1020            3      1   621
4714  1021            4      1   436
4719  1022            5      1   570
4724  1023            6      1    71
4729  1024            1      1   931
4734  1025            2      1   903
4739  1026            3      1   577
4744  1027            4      1   331
4749  1028            5      1   627
4754  1029            6      1    24
4759  1030            2      1   808
4764  1031            3      1   732
4769  1032            4      1   436

[955 rows x 4 columns]
      date  day_of_week  brand   cnt
5        3            5      2   811
10       4            6      2   824
15       5            7      2   549
20       6            1      2   545
25       7            2      2   618
30       8            3      2   532
35       9            4      2   441
40      10            5      2   418
45      11            6      2    32
49      12            1      2   393
54      13            2      2   412
59      14            3      2   384
64      15            4      2  1824
69      16            5      2   570
74      17            6      2    95
79      19            1      2   646
84      20            2      2   380
89      21            3      2   473
94      22            4      2   372
99      23            5      2   304
104     24            6      2    48
109     25            1      2   532
114     26            2      2   523
119     27            3      2   577
124     28            4      2   186
129     29            5      2   456
134     30            6      2    63
139     32            1      2   659
144     33            2      2   602
149     34            3      2   532
...    ...          ...    ...   ...
4626  1003            4      2   482
4631  1004            5      2   608
4636  1005            6      2   207
4640  1006            1      2   636
4645  1007            2      2   363
4650  1008            3      2   629
4655  1009            4      2   469
4660  1010            5      2   567
4665  1011            6      2    69
4670  1012            1      2   594
4675  1013            2      2   674
4680  1014            3      2   419
4685  1015            4      2   355
4690  1016            5      2   456
4695  1017            6      2    86
4700  1018            1      2   511
4705  1019            2      2   397
4710  1020            3      2   661
4715  1021            4      2   406
4720  1022            5      2   594
4725  1023            6      2    69
4730  1024            1      2   982
4735  1025            2      2   968
4740  1026            3      2   645
4745  1027            4      2   482
4750  1028            5      2   954
4755  1029            6      2    52
4760  1030            2      2  1382
4765  1031            3      2   726
4770  1032            4      2   393

[989 rows x 4 columns]
      date  day_of_week  brand   cnt
3        2            4      3    20
6        3            5      3  1005
11       4            6      3   802
16       5            7      3   579
21       6            1      3   599
26       7            2      3   642
31       8            3      3   674
36       9            4      3   510
41      10            5      3   321
46      11            6      3    27
50      12            1      3   321
55      13            2      3   187
60      14            3      3   249
65      15            4      3  1235
70      16            5      3   428
80      19            1      3   449
85      20            2      3   428
90      21            3      3   549
95      22            4      3   431
100     23            5      3   321
105     24            6      3    80
110     25            1      3   385
115     26            2      3   695
120     27            3      3   449
125     28            4      3   372
130     29            5      3   556
137     31            7      3    23
140     32            1      3   620
145     33            2      3   642
150     34            3      3   399
...    ...          ...    ...   ...
4627  1003            4      3   385
4632  1004            5      3   443
4637  1005            6      3    58
4641  1006            1      3   303
4646  1007            2      3   525
4651  1008            3      3   381
4656  1009            4      3   364
4661  1010            5      3   303
4666  1011            6      3   233
4671  1012            1      3   280
4676  1013            2      3   117
4681  1014            3      3   191
4686  1015            4      3   235
4691  1016            5      3   327
4696  1017            6      3    58
4701  1018            1      3   607
4706  1019            2      3   321
4711  1020            3      3   218
4716  1021            4      3   214
4721  1022            5      3   350
4726  1023            6      3   117
4731  1024            1      3   700
4736  1025            2      3   379
4741  1026            3      3   218
4746  1027            4      3   513
4751  1028            5      3   420
4756  1029            6      3    58
4761  1030            2      3   467
4766  1031            3      3   490
4771  1032            4      3   235

[941 rows x 4 columns]
      date  day_of_week  brand   cnt
7        3            5      4   773
12       4            6      4  1057
17       5            7      4   759
22       6            1      4   725
27       7            2      4  1298
32       8            3      4   648
37       9            4      4   554
42      10            5      4   459
51      12            1      4   725
56      13            2      4   574
61      14            3      4   507
66      15            4      4   598
71      16            5      4   411
75      17            6      4    30
81      19            1      4   918
86      20            2      4   664
91      21            3      4   366
96      22            4      4   332
101     23            5      4   556
106     24            6      4    30
111     25            1      4   725
116     26            2      4   483
121     27            3      4   451
126     28            4      4   266
131     29            5      4   676
135     30            6      4   121
141     32            1      4   942
146     33            2      4   966
151     34            3      4   705
156     35            4      4   686
...    ...          ...    ...   ...
4628  1003            4      4   193
4633  1004            5      4   422
4638  1005            6      4    66
4642  1006            1      4   264
4647  1007            2      4   494
4652  1008            3      4   400
4657  1009            4      4   266
4662  1010            5      4   211
4667  1011            6      4    66
4672  1012            1      4   316
4677  1013            2      4   593
4682  1014            3      4   338
4687  1015            4      4   386
4692  1016            5      4   343
4697  1017            6      4    99
4702  1018            1      4   290
4707  1019            2      4   231
4712  1020            3      4   338
4717  1021            4      4   242
4722  1022            5      4   395
4727  1023            6      4   165
4732  1024            1      4   422
4737  1025            2      4   593
4742  1026            3      4   523
4747  1027            4      4   386
4752  1028            5      4   316
4757  1029            6      4    33
4762  1030            2      4   560
4767  1031            3      4   277
4772  1032            4      4   242

[924 rows x 4 columns]
      date  day_of_week  brand   cnt
1        1            3      5    48
8        3            5      5  1565
13       4            6      5  1107
18       5            7      5   647
23       6            1      5   638
28       7            2      5   695
33       8            3      5   673
38       9            4      5   585
43      10            5      5   741
47      11            6      5   129
52      12            1      5   721
57      13            2      5   669
62      14            3      5   456
67      15            4      5  1680
72      16            5      5   680
76      17            6      5    26
77      18            7      5    22
82      19            1      5  1071
87      20            2      5   618
92      21            3      5   865
97      22            4      5   491
102     23            5      5   329
107     24            6      5    51
112     25            1      5   968
117     26            2      5   618
122     27            3      5   601
127     28            4      5   604
132     29            5      5   515
136     30            6      5    51
142     32            1      5  1071
...    ...          ...    ...   ...
4619  1001            2      5   421
4624  1002            3      5   288
4629  1003            4      5   227
4634  1004            5      5   292
4643  1006            1      5   449
4648  1007            2      5   225
4653  1008            3      5   472
4658  1009            4      5   144
4663  1010            5      5   292
4668  1011            6      5    28
4673  1012            1      5   449
4678  1013            2      5   253
4683  1014            3      5   341
4688  1015            4      5   227
4693  1016            5      5   157
4698  1017            6      5    56
4703  1018            1      5   270
4708  1019            2      5   225
4713  1020            3      5   210
4718  1021            4      5   288
4723  1022            5      5   359
4728  1023            6      5    84
4733  1024            1      5   404
4738  1025            2      5   365
4743  1026            3      5   314
4748  1027            4      5   432
4753  1028            5      5   202
4758  1029            6      5    28
4763  1030            2      5   786
4768  1031            3      5   288

[964 rows x 4 columns]

In [96]:
def fill_missing(df,day=1192):
    '''
    存在每个brand开头缺失和结尾缺失的情况
    '''
    modi_df = pd.DataFrame(columns=['date', 'day_of_week', 'cnt'], dtype=int)
    last_day_of_week = 0
    for index, row in df.iterrows():
        now_day_of_week = row['day_of_week']
        # 若 day_of_week 当前天减上一天不是1 或 -6，说明有跳跃
        while (last_day_of_week != 0) and (now_day_of_week - last_day_of_week != 1) and (now_day_of_week - last_day_of_week != -6):
            if last_day_of_week == 7:
                last_day_of_week = 1
            else:
                last_day_of_week += 1
            modi_df = modi_df.append({'day_of_week': last_day_of_week, 'cnt': 0}, ignore_index=True) 
        modi_df = modi_df.append(row, ignore_index=True)
        last_day_of_week = now_day_of_week
    df_len = modi_df.shape[0]
    if df_len != day:
        #print df_len
        #开头部分有缺失
        if modi_df.iloc[0]['day_of_week'] != 3:
            now_day_of_week = modi_df.iloc[0]['day_of_week']
            last_day_of_week = 3
            above = pd.DataFrame([[last_day_of_week,0,np.nan]],columns=['day_of_week','cnt','date'])
            last_day_of_week += 1
            while last_day_of_week != now_day_of_week:
                above = above.append({'day_of_week': last_day_of_week, 'cnt': 0}, ignore_index=True)
                if last_day_of_week == 7:
                    last_day_of_week = 1
                else:
                    last_day_of_week += 1
            modi_df = above.append(modi_df)
        df_len = modi_df.shape[0]     
        assert (modi_df.iloc[0]['day_of_week'] == 3)
        #结尾缺失
        #if (day- df_len)%7 == 0 or modi_df.iloc[0]['day_of_week'] == 3:
        if df_len != day:
            day_num = day-df_len
            #print 'day_num:',day_num
            #填充滿
            last_day_of_week = modi_df.iloc[-1]['day_of_week']
            while (day_num>0):
                if last_day_of_week == 7:
                    last_day_of_week =1
                else:
                    last_day_of_week += 1
                day_num -= 1
                modi_df = modi_df.append({'day_of_week': last_day_of_week, 'cnt': 0}, ignore_index=True)
                #print 'modi_df.shape:',modi_df.shape         
    return modi_df

In [97]:
def run_based_brand(brand,d):
    #brand:品牌
    #d:brand对应的数据
    train = d
    new_df = train.drop(['day_of_week', 'brand'],axis=1).groupby('date').sum()
    new_df['date'] = new_df.index
    new_df = pd.merge(new_df, train[['date','day_of_week']].drop_duplicates(), how='left', on='date')
    #print new_df.shape
    #new_df.to_csv('./data/train_group.txt', sep='\t')
    #填充缺失值
    modi_df = fill_missing(new_df)
    print '填充缺失值：',modi_df.shape
    # 改变 cnt 列的值属性为数值型
    modi_df.cnt = pd.to_numeric(modi_df.cnt)
    
    #均值按星期填充
    for i in range(1, 8):
        # 对每个 day_of_week 依次填充
        day_of_week_mean = int(new_df[new_df.day_of_week == i]['cnt'].mean())
        modi_df.loc[modi_df.day_of_week == i, 'cnt']= modi_df[modi_df.day_of_week == i].cnt.mask(modi_df.cnt == 0, day_of_week_mean)
    print '按星期均值填充：，',modi_df.shape 
    
    modi_df['ds'] = pd.date_range(start = '1/2/2013', periods=1192)
    prophet_train = modi_df.loc[:,['ds', 'cnt']]
    prophet_train.rename(columns = {'cnt':'y'}, inplace = True)
    with open('./data/holidays.pkl', 'rb') as rf:
        holidays = pkl.load(rf)
    m = Prophet(holidays = holidays)

    #测试
    train_d = prophet_train[:1000]
    test_d = prophet_train[1000:]
    test_d.reset_index(drop=True,inplace=True)
    future = pd.DataFrame({'ds':pd.date_range(start='9/29/2015',periods=192)})
    m.fit(train_d)
    forecast = m.predict(future)
    return forecast,test_d

In [109]:
forecast_list = []
test_list = []
for num,d in df_group:
    forecast,test_d = run_based_brand(num,d)
    forecast_list.append(forecast)
    test_list.append(test_d)

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

填充缺失值： (1192, 3)
按星期均值填充：， (1192, 3)

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

填充缺失值： (1192, 3)
按星期均值填充：， (1192, 3)

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

填充缺失值： (1192, 3)
按星期均值填充：， (1192, 3)

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

填充缺失值： (1192, 3)
按星期均值填充：， (1192, 3)

INFO:fbprophet.forecaster:Disabling daily seasonality. Run prophet with daily_seasonality=True to override this.

填充缺失值： (1192, 3)
按星期均值填充：， (1192, 3)

In [104]:
forecast_all = pd.DataFrame(columns=['ds','yhat'])
forecast_all['ds'] = forecast_list[0].ds
forecast_all['yhat'] = sum([x.yhat for x in forecast_list])
forecast_all.head(5)

          ds         yhat
0 2015-09-29  2783.334203
1 2015-09-30  2415.998267
2 2015-10-01  2028.496407
3 2015-10-02  2331.246033
4 2015-10-03   960.269340

In [110]:
test_all = pd.DataFrame(columns=['ds','y'])
test_all['ds'] = test_list[0].ds
test_all['y'] = sum([x.y for x in test_list])
test_all.head(5)

          ds       y
0 2015-09-29  3478.0
1 2015-09-30  1972.0
2 2015-10-01  2764.0
3 2015-10-02  2165.0
4 2015-10-03   598.0

In [111]:
test_all.describe()

                 y
count   192.000000
mean   2217.234375
std    1034.932348
min     309.000000
25%    1752.000000
50%    2119.500000
75%    2706.500000
max    5157.000000

In [112]:
evaluate_model(forecast_all,test_all)

336797.7428839639